<h2>{{i18n "tagging.all_tags"}}</h2>

<div class='tag-list'>
  {{#each tag in model}}
    <div class='tag-box'>
      {{discourse-tag tagId=tag.id}} <span class='tag-count'>x {{tag.count}}</span>
    </div>
  {{/each}}
</div>
