.topic-title-outlet.choose-tags {
  margin-left: 25px;
  margin-top: 3px;
}

.add-tags .select2 {
  margin: 0;
}

.discourse-tag-count {
  font-size: 0.8em;
  color: #999;
}

.select2-result-label .discourse-tag {
  margin-right: 0;
}

.discourse-tag {
  padding: 3px 5px 3px 5px;
  margin: 3px 3px 3px 0;

  /* !important is needed in the select2 widget to overwrite default styles */
  color: #333344 !important;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #eeeeff !important;
}

.list-tags {
  display: inline;
  margin-left: 4px;
}

.tag-chooser {
  width: 500px;
  margin: 5px 0;
}
